<footer>
  <div class="container">
    <div class="footer__info">
      <p>Tecnologías utilizadas en este proyecto</p>
      <ul class="tech">
        <li class="tech__item" aria-label="Python"><span class="iconify" data-icon="bx:bxl-python" data-inline="false"
            style="color: #666666;"></span></i></li>
        <li class="tech__item" aria-label="Django"><span class="iconify" data-icon="simple-icons:django"
            data-inline="false" style="color: #666666;"></span></span></li>
        <li class="tech__item" aria-label="JavaScript"><span class="iconify" data-icon="fluent:javascript-16-filled"
            data-inline="false" style="color: #666666;"></span></li>
        <li class="tech__item" aria-label="SQLite3"><span class="iconify" data-icon="file-icons:sqlite"
            data-inline="false" style="color: #666666;"></span></li>
      </ul>
    </div>
    <div class="footer__copy">
      <p>&copy; 2021 | Manuel Flores</p>
    </div>
  </div>
</footer>