// variables
// $background: #96588a;
$background: #2d6eb8;
$primary-color: #272727;

// google fonts
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

section {
  padding-top: 80px;
  // min-height: 90vh;
  min-height: calc(100vh - 147px);
  padding-bottom: 40px;
}

// mixins
@mixin bottom-shadow {
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.5);
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

.hidden {
  visibility: hidden;
  @include transition-ease();
}

// responsivo
@mixin media-sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: 1200px) {
    @content;
  }
}